html {
  font-family: sans-serif;
  background: url(../assets/background.jpg);
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}

.footer {
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.footer > a {
  color: white;
  margin: 0 1rem;
}
